<?xml version="1.0" encoding="UTF-8"?>
<plugin
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="phone-number-plugin"
  version="0.0.1">

  <description>Phone Number from Cordova Application</description>

  <name>Cordova Phone Number Plugin</name>
  <author>jiun</author>

  <license>Apache 2.0</license>
  <keywords>cordova,call,dialer,phonegap</keywords>
  <js-module src="www/PhoneNumber.js" name="PhoneNumber">
    <clobbers target="PhoneNumber"/>
  </js-module>

  <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
          <feature name="PhoneNumber">
              <param name="android-package" value="org.apache.cordova.phonenumber.PhoneNumber"/>
          </feature>
      </config-file>
      <config-file target="AndroidManifest.xml" parent="/*">
          <uses-permission android:name="android.permission.CALL_PHONE"/>
          <uses-permission android:name="android.permission.READ_PHONE_STATE" />
          <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
          <uses-feature android:name="android.hardware.telephony" android:required="false" />
      </config-file>
      <source-file src="src/android/PhoneNumber.java" target-dir="src/com/cordova/phonenumber" />
  </platform>
</plugin>
